{
    "tabWidth": 2,
    "singleQuote": true,
    "printWidth": 120,
    "semi": false,
    "overrides": [
        {
            "files": [
                ".prettierrc",
                ".eslintrc"
            ],
            "options": {
                "parser": "json"
            }
        }
    ]
}